@model Dish;
<a href= "/" >Home</a>

<h1>@Model.Name</h1>
<h3>@Model.Chef</h3>

<p>@Model.Description</p>
<h3>@Model.Calories</h3>
<h3>@Model.Tastiness</h3>


<a href="/delete/@Model.DishId">Delete</a>
<a href="/edit/@Model.DishId"> Edit</a>
